
.problems {
    margin-left: 20%;
    max-width: 70%;
}

.starIcon {
    width: 20px;
}

.problemRow {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 1.5em;
}

.tagGrid{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.problemTag{
    margin-top: 1%;
    margin-right: 1%;
    background-color: gray;
    border-radius: 2em;
}

.starRow {
    display: flex;
    flex-flow: row nowrap;
}

#codeforcesIcon {
    width: 50px;
}

.problemCol {
    margin-right: 1em;
}